.menu-card{
    width: 250px;
    height: 450px;
    margin: 4em auto;
}

#menu-card-title{
    text-align: center;
    margin-top: 5%;
}

#menu-card-chain{
    text-align: center;
    margin-top: 5%;
}

#menu-card-img{
    width: 200px;
    height: 250px;
    margin: .5em auto;
}

.menu-card-table-div{
    width: 100%;
    background-color: lightgray;
}

#menu-table{
    width: 75%;
    text-align: center;
    margin: 1em 2.5em;
}

#menu-img-h1-div{
    position: relative;
    margin: -23rem auto;
    background-color: black;
    text-align: center;
    width: 500px;
    height: 200px;
    color: wheat;
}